<div style="height: 400px; z-index: 100;" (click)="disableContextMenu()" oncontextmenu="return false;">
  <ul class="navMenu">
    <li style="width: 50%;">
      <a [class]="activeClass['country']" (click)="showTreeMenu('country')">Country</a>
    </li>
    <li style="width: 50%;">
      <a [class]="activeClass['playerRole']" (click)="showTreeMenu('playerRole')">Player Role</a>
    </li>
  </ul>

  <div class="player-color" (contextmenu)="onrightClick($event)">
    <div class="sidebar" #playerListContainer>
      <app-custom-tree [data]="playersTree"></app-custom-tree>
    </div>
  </div>
</div>
<div *ngIf="showContextMenu">
  <app-context-menu [x]="contextmenuX" [y]="contextmenuY" [contextmenu]="showContextMenu"></app-context-menu>
</div>