<div style="height: 520px; z-index: 100;">
  <!-- <img src="https://firebasestorage.googleapis.com/v0/b/sports-portal-3888c.appspot.com/o/kohli.jpg?alt=media&token=45366732-3e41-41e2-aed7-827b013403c3" width="100%" height="100%" /> -->
  <span *ngIf="(selectedPlayer.imageURL !== '')">
    <img [src]="selectedPlayer.imageURL" width="100%" height="auto"/> 
  </span>
  <span *ngIf="(selectedPlayer.imageURL === '')">
    <img src="https://firebasestorage.googleapis.com/v0/b/sports-portal-3888c.appspot.com/o/no-player.jpg?alt=media&token=b7ddcc71-4fbc-4763-a2d8-af2c00d0e5ce" width="100%" height="auto"/>
    <br><br>
    <div class="align-content-lg-center">
      <p>No Player Selected!</p>
    </div>
  </span>
</div>